body {
    margin: 0;
    display: flex;
    font-family: sans-serif;
    height: 100vh;
}

#sidebar {
    width: 300px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    z-index: 1000;

}

#map {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#crimeChart {
    max-height: calc(100vh - 200px);
}

.filter-group {
    margin-bottom: 20px;
}

#search {
    width: 100%;
    display: flex;
    gap: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    height: 40px;
}

#search-input {
    flex-grow: 1;
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    height: 40px;
}

#search-btn {
    padding: 0 15px;
    height: 40px;
    width: 90px;
    background-color: #34495e;
    color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

#diagram-btn {
    padding: 0 15px;
    margin-top: 15px;
    height: 40px;
    width: 100%;
    background-color: #34495e;
    color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

#search-btn:hover {
    background-color: #2c3e50;
}


#diagram-btn:hover {
    background-color: #2c3e50;
}

.legend {
    background: white;
    padding: 10px;
    line-height: 18px;
    color: #555;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}